<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li style="display: inline" th:each="parent: ${parents}"><span> > </span><a th:href="${parent.url}"
                                                                                th:text="${parent.name}"></a></li>
</ul>
<h2 th:text="${header}"></h2>
<ol>
    <li th:each="item: ${items}" th:with="url=${#httpServletRequest.requestURI} + '/' + ${item.id}">
        <a th:href="${#strings.replace(url, '//' + item.id, '/' + item.id)}" th:text="${item.id}"></a>
        <div th:if="${isPhotoList}"><br><img th:src="${url}" th:alt="${item.id}"></div>
    </li>
</ol>
</body>
</html>
